name: CI

on:
  pull_request:
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

jobs:
  ci-test:
    name: "Run backend tests"
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - name: Run tests
      uses: dagger/dagger-for-github@d913e70051faf3b907d4dd96ef1161083c88c644 # v8.2.0
      with:
        verb: call
        args: --silent test-backend --root-dir . combined-output

  ci-frontend:
    name: "Build test frontend"
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - name: Build frontend
      uses: dagger/dagger-for-github@d913e70051faf3b907d4dd96ef1161083c88c644 # v8.2.0
      with:
        verb: call
        args: --silent build-frontend --frontend-dir frontend export --path ./dist/frontend

