name: CI

on:
  pull_request:
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

jobs:
  ci-test:
    name: "Run backend tests"
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - name: Run tests
      uses: dagger/dagger-for-github@456fc3af63a2ba6f9789af9c55045b459115541b # v8.3.0
      with:
        verb: call
        args: --silent test-backend --root-dir . combined-output

  ci-frontend:
    name: "Build test frontend"
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - name: Build frontend
      uses: dagger/dagger-for-github@456fc3af63a2ba6f9789af9c55045b459115541b # v8.3.0
      with:
        verb: call
        args: --silent build-frontend --frontend-dir frontend export --path ./dist/frontend

