on:
  push:
    branches:
      - main

name: release-please

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    outputs:
      release_created: "${{ steps.release-please.outputs.release_created }}"
      release_tag: "${{ steps.release-please.outputs.tag_name }}"

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release-please
        with:
          config-file: .release-please.json
          manifest-file: .release-please-manifest.json

  release-artifacts:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    needs:
      - release-please
    if: needs.release-please.outputs.release_created
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: "${{ needs.release-please.outputs.release_tag }}"
          fetch-depth: 0
          persist-credentials: false
          
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0

      - name: Log into DockerHub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Run dagger
        env:
          GIT_COMMIT_ID: ${{ github.sha }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          RELEASE_VERSION: "${{ needs.release-please.outputs.release_tag }}"
          IMAGE_NAME: "zerok/webmentiond"
        run: go run ./ci --build --publish

