on:
  push:
    branches:
      - main

name: release-please

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    outputs:
      release_created: "${{ steps.release-please.outputs.release_created }}"
      release_tag: "${{ steps.release-please.outputs.tag_name }}"
      release_upload_url: "${{ steps.release-please.outputs.upload_url }}"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release-please
        with:
          config-file: .release-please.json
          manifest-file: .release-please-manifest.json

  release-setup:
    name: "Build frontend"
    permissions:
      contents: read
    runs-on: ubuntu-latest
    needs:
      - release-please
    if: needs.release-please.outputs.release_created
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - name: Build frontend
      uses: dagger/dagger-for-github@456fc3af63a2ba6f9789af9c55045b459115541b # v8.3.0
      with:
        verb: call
        args: --silent build-frontend --frontend-dir frontend export --path ./dist/frontend

    - name: Upload frontend
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: frontend
        path: ./dist/frontend

  release-build-binaries-arm64:
    name: "Build binaries arm64"
    permissions:
      contents: read
    runs-on: ubuntu-24.04-arm
    needs:
      - release-please
      - release-setup
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: frontend
        path: ./dist/frontend

    - name: Build binaries
      uses: dagger/dagger-for-github@456fc3af63a2ba6f9789af9c55045b459115541b # v8.3.0
      with:
        verb: call
        args: --silent build-binaries --root-dir . --built-frontend ./dist/frontend  --commit-id ${{ github.sha }} --version "${{ needs.release-please.outputs.release_tag }}" --arch arm64 export --path ./dist/backend

    - name: Upload binaries
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: backend-arm64
        path: ./dist/backend

  release-build-binaries-amd64:
    name: "Build binaries amd64"
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    needs:
      - release-please
      - release-setup
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: frontend
        path: ./dist/frontend

    - name: Build binaries
      uses: dagger/dagger-for-github@456fc3af63a2ba6f9789af9c55045b459115541b # v8.3.0
      with:
        verb: call
        args: --silent build-binaries --root-dir . --built-frontend ./dist/frontend  --commit-id ${{ github.sha }} --version "${{ needs.release-please.outputs.release_tag }}" --arch amd64 export --path ./dist/backend

    - name: Upload binaries
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: backend-amd64
        path: ./dist/backend

  release-upload:
    name: "Upload artifacts"
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    needs:
      - release-build-binaries-amd64
      - release-build-binaries-arm64
      - release-please
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: backend-amd64
        path: ./dist/backend

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: backend-arm64
        path: ./dist/backend

    - name: Log into DockerHub
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Upload to dockerhub
      uses: dagger/dagger-for-github@456fc3af63a2ba6f9789af9c55045b459115541b # v8.3.0
      with:
        verb: call
        args: --silent create-docker-image --binaries ./dist/backend --tag "${{ needs.release-please.outputs.release_tag }}"

    - name: Attach binaries
      uses: dagger/dagger-for-github@456fc3af63a2ba6f9789af9c55045b459115541b # v8.3.0
      with:
        verb: call
        args: --silent attach-binaries --token=env://GH_TOKEN --binaries ./dist/backend --upload-url="${{ needs.release-please.outputs.release_upload_url }}"
      env:
        GH_TOKEN: ${{ github.token }}
      
