name: Website

on:
  pull_request:
    paths:
      - mkdocs.yml
      - docs/**

  push:
    branches:
      - main
    paths:
      - mkdocs.yml
      - docs/**

jobs:
  website:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0

    - name: Run tests
      uses: dagger/dagger-for-github@456fc3af63a2ba6f9789af9c55045b459115541b # v8.3.0
      with:
        verb: call
        args: --silent build-website --source-dir . --ssh-private-key env://SSH_PRIVATE_KEY --publish=${{ github.event_name == 'push' && 'true' || 'false' }}
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

