name: Website

on:
  pull_request:
    paths:
      - mkdocs.yml
      - docs/**

  push:
    branches:
      - main
    paths:
      - mkdocs.yml
      - docs/**

jobs:
  website:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - name: Run tests
      uses: dagger/dagger-for-github@d913e70051faf3b907d4dd96ef1161083c88c644 # v8.2.0
      with:
        verb: call
        args: --silent build-website --source-dir . --ssh-private-key env://SSH_PRIVATE_KEY --publish=${{ github.event_name == 'push' && 'true' || 'false' }}
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

